@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,200,300,600,700);
/*
#gridized .col-sm-1:before,
#gridized .col-sm-1:after {
    content: " ";
    display: block;
    background: #39c;
    width: 1px;
    height: 100vh;
    position: absolute;
}
#gridized .col-sm-1:before{
    left: 15px;
    background-color: #39c;
}

#gridized .col-sm-1:after{
    right: 15px;
    background-color: #39c;
}

#gridized .col-sm-1>div:after {
    background: #39c;
    content: "";
    display: block;
    width: 1px;
    height: 80vh;
    right: -2px;
    position: absolute;
}


#gridized .col-sm-1 {
    height: 50px;
}*/
.mb10 { margin-bottom: 10px;}
.mb30 { margin-bottom: 30px;}
.mb30 { margin-bottom: 30px;}

.w25px { width: 40px !important; min-width: 40px !important;}
.w30px { width: 30px !important; min-width: 30px !important;}
.w50px { width: 55px !important; min-width: 55px !important;}
.w70px { width: 70px !important; min-width: 70px !important;}
.w50px { width: 50px !important; min-width: 50px !important;}
.w80px { width: 80px !important; min-width: 80px !important;}
.w320px { width: 290px !important; min-width: 290px !important;}


.w5 { width: 5% !important; }
.w7 { width: 7% !important; }
.w9 { width: 9% !important; }
.w5 { width: 5% !important; }
.w10 { width: 10% !important; }
.w15 { width: 15% !important; }
.w12 { width: 12% !important; }
.w13 { width: 13% !important; }
.w20 { width: 20% !important; }
.w30 { width: 30% !important; }
.w40 { width: 40% !important; }
.w50 { width: 50% !important; }
.w60 { width: 60% !important; }
.w70 { width: 70% !important; }
.w80 { width: 80% !important; }
.w90 { width: 90% !important; }
.w100 { width: 100% !important; }


.vh10 { height: 10vh; }
.vh20 { height: 20vh; }
.vh30 { height: 30vh; }
.vh40 { height: 40vh; }
.vh50 { height: 50vh; }
.vh60 { height: 60vh; }
.vh70 { height: 70vh; }
.vh80 { height: 80vh; }
.vh90 { height: 90vh; }
.vh100 { height: 100vh; }



iframe, img {
    max-width: 100%;
}

.table tr td>input.form-control {
    width: 100% !important;
}

@media(max-width:767px) {
.small-box h3 {
    font-size: 28px;
    overflow: scroll;
}
}

.content-wrapper {
    min-height: 87vh !important;
}

body .btn-default[disabled],
body .btn-default[disabled]:hover,
body .btn-default[disabled]:focus {
    background-color: #777;
}

.avatar-upload__parent {
  position: relative;
  max-width: 255px;
  margin-bottom:15px;
}
.avatar-upload__child {
  position: relative;
  max-width: 350px;
  margin-bottom:15px;
}

.avatar-preview__parent{
	margin-top:10px;
    width: 100%;
    background-color: #eee;
    z-index: 99;
    height:  100%;
    position: relative;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    overflow: hidden;
}
.avatar-preview__child {
	margin-top:10px;
    width: 350px;
	height: 190px;
    background-color: #eee;
    z-index: 99;
    position: relative;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    overflow: hidden;
}
#imagePreview__parent{
    width: 100%;
    height: 134px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#imagePreview__child{
    width: 350px;
    height: 190px;
	background-size: contain;
    background-repeat: no-repeat;
}


@media (max-width: 767px) {
    div#vendors_wrapper {margin-top: 15px;text-align: left;}

    div#vendors_wrapper .dt-buttons {
        float: left;
        text-align: left;
    }

    div#vendors_filter {
        text-align: left;
    }
}


 


#gird[data-view*="gird"] .item-gallery .item-gallery__img, #gird[data-view="girdLg"] .item-gallery .item-gallery__cont {
    width: 100%;
    margin: 0 0 0px; 
    width: 100%; 
}

#gird[data-view*="gird"]
.actions .btn {
    min-width: 48%;
    float: left;
    margin: 0 1% 10px;
    
    padding: 10px 2px;
}



#gird[data-view*="gird"]
.item-gallery__cont {
    width: 100%; 
    padding: 15px;  background-color: #fff;
}

#gird[data-view*="gird"]
.item-gallery__img {
    width: 100%;
    padding: 0px;
}



#gird[data-view="girdLg"] .item-gallery {
    width: 33.333333333333%;
   
}


#gird[data-view="girdMd"] .actions .btn,
#gird[data-view="girdSm"] .actions .btn {
    min-width: 100%;
    margin: 0 0 10px;
}



#gird[data-view="girdMd"] .item-gallery {
    width: 25%;
}

#gird[data-view="girdSm"] .item-gallery {
    width: 20%;
}


.box__action button.active {
    background: #337ab7;
    color: #fff;

}
 
.item-gallery__inr span.price {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: #FF5722;
    font-size: 17px;
   }

   .box__action > button {border: 0;background: #ddd;line-height: 40px;width: 40px;}


.item-gallery__inr span.name {
    margin-top: 10px;
    display: grid;
    font-size: 20px;
    height: 60px;
    overflow: hidden;
}


.item-gallery__img>a {

    height: 200px;
    overflow: hidden;
    display: block;
    text-align: center;
    object-fit: cover;
}

.item-gallery__img>a>img {
    display: block;
    height: 200px;
    display: block;
    width: 100%;
    object-fit: contain;
}

.item-gallery__inr {
    box-shadow: 0 10px 10px 0px #ddd;
    border: 1px solid #eee;
    margin-bottom: 20px;
    background-color: #fff;
    overflow: hidden;
    position: relative;

}

.tag {
    background: #d9534f;
    display: inline-block;
    padding: 5px 10px;
    float: right;
    position: absolute;
    top: 0;
    z-index: 20;
    right: 0;
    color: #fff;
}


.item-gallery__img {
    padding: 0;
    margin-left: -15px;
    border-right: 0px solid  #ddd;
    background-color: #fff;
}


.item-gallery__cont {
background: #fff;
float: left;
width: 100%;
border-top: 0px solid #ddd;
}

.box__action {
    margin-bottom: 30px;
}

#gird
.actions .btn {
    margin-bottom: 15px;
}


.item-gallery,
.item-gallery * {
    transition: all 0.5s;
}
 


@media (max-width: 1024px) {

    #gird[data-view] .item-gallery {
        width: 33.3333333%;
    }

}

@media (max-width: 797px) {
    #gird[data-view] .item-gallery {
        width: 100%;
    }
}

.bdr0 {
    border: 0 !important;
}

/* .content-wrapper {
    min-height: auto !important;
    float: left;
} */


.item-gallery__img {
    position: relative;
    overflow: hidden;
}

.item-gallery__img .view {
    background: rgba(51, 122, 183, 0.88);
    height: 100%;
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 20%;
    font-size: 40px;
    color:#fff;
    opacity: 0;
}

.item-gallery__img:hover .view {
    opacity: 1;
}


a#backToTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #607D8B;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    display: none;
    z-index: 99999;
}

a#backToTop.show {
    display: block;
}


.home footer.main-footer {
    margin-left: 0px !important;
}

.dataTables_wrapper {
    overflow: auto;
}


/*body button.buttons-pdf {
    border-color: #ff6f2b;
    background: #ff6f2b;
    color: #fff;
}

body button.buttons-excel {
    background: #15bf07;
    border-color: #15bf07;
    color: #fff;
}*/
/*
.table-responsive {
    overflow: visible !important;
}
*/




span.tooltiper {
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
}


.tooltip-area {
    position: absolute;
    bottom: 120px;
    background-color: #30c;
    padding: 10px;
    min-width: 170px;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    transition: all 0.4s;
    opacity: 0;
}


span.tooltiper.open+.tooltip-area,
span.tooltiper:hover+.tooltip-area {
    opacity: 1;
    bottom: 140px;
}

span.tooltiper i {
    color: #1a2fc3;
    position: relative;
    top: 0;
}


.home .wrapper {
    background: #eee;
}

 
.home.skin-purple .main-header .navbar {
    margin-left: 0;
}

.home.skin-purple .main-header .navbar a.logo {
    left: 50%;
    position: relative;
    margin-left: -100px;
    width: 200px;
    background-color: transparent;
}

#suggestion_box {
    margin-left: -245px;
    width: 220px;
    margin-bottom: -160px;
}

#suggestion_box:after {
    content: " ";
    position: absolute;
    top: -20px;
    height: 21px;
    width: 10px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #00c0ef;
    left: 10px;
}



.search-form .input-group-addon .btn {
    height: 50px !important;
    border-radius: 0;
    line-height: 36px;
    min-width: 80px;
} 


  
.search-form .input-group-addon .btn {
    height: 50px !important;
    border-radius: 0;
    line-height: 36px;
    min-width: 80px;
} 

.search-form .select2 {
    min-height: 40px;
}

.search-form .select2-selection {
    height: 50px;
    display: block;
    border: 0;
}

.search-form .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 45px;
}

.search-form span.select2-selection__arrow {
    height: 50px !important;
}




.search-form .form-control {
    height: 52px;
}

.search-form .input-group-addon {
    padding: 0;
}

.search-form .input-group-addon select {
    height: 50px;
    border: 0;
    padding: 10px;
}


.box__action {
    text-align: right;
    padding-right: 30px;
}

.box__action button {
    width: 50px;
}


.search-form .input-group-addon button {
    height: 50px;
    border-radius: 0;
    min-width: 120px;
    border: 9;
    background: #337ab7;
    border: 0px;
}

.search-form .input-group-addon button i {
    margin: 0 5px 0 0;
}







.modal-gallery-wrapper {
    height: 500px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
  
  .modal-gallery-wrapper .swiper-slide img {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .modal-gallery-wrapper .Thumbs {
      padding-right: 20px;
      flex-basis: 120px;
      margin: 0px
  }

  
  .modal-gallery-wrapper   .Gallery.swiper-container {
    margin: 0;
    width: 100%;
}
  

  
.modal-gallery-wrapper .Thumbs .swiper-slide-active {
    opacity: 1;
    box-shadow: 0 0 1px 1px #d00;
}



.modal-gallery-wrapper .Thumbs .swiper-slide {
    border: 1px solid #777;
    width: 50px;
    width: 50px; 
    margin-left: 2px;
}


.swiper-slide img {
    max-width: 100%;
}

.Gallery.swiper-container .swiper-slide {
    border: 1px solid #777;
}

.Gallery.swiper-container .swiper-slide  img {
    object-fit:contain;
    max-width: 100%;
    max-height: 100%;
}
 


  .modal-gallery-wrapper .Thumbs .swiper-slide {
    opacity: 0.7;
    cursor: pointer;
    border: 1px solid #777;
    border-radius: 0px;
  }

  
  .modal-gallery-wrapper .Thumbs .swiper-slide:hover,
  .modal-gallery-wrapper .Thumbs .swiper-slide-active {
    opacity: 1;
  }

  

  .modal-product-desc {
    padding: 15px 0 0;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}




.home-product-cata-nav {
    margin-bottom: 30px;
    background-color: #605ca8;
    margin: 0 -15px 30px;
    padding: 0 35px;
    clear: both;
    border: 1px solid #605ca8;
}


.home-product-cata-nav ul {
    border: 0;
}

.home-product-cata-nav .nav>li>a { color: #fff; }
.home-product-cata-nav .nav>li>a:hover,
.home-product-cata-nav .nav>li>a:active,
.home-product-cata-nav .nav>li>a:focus {
   
    color: #fff;
    background: #605ca8;
    border-color: transparent;
    box-shadow: 0px -2px 0 0px #ddd inset;
}

.home-product-cata-nav ul li.active a {
    background: none !important;
    font-weight: bold;
}





 





















/* draggable targets */
div#wrapper>.col-md-6:nth-child(1) {
    padding-right: 0;
}

div#wrapper>.col-md-6+.col-md-6 {
    padding-left: 0;
}

.tags-area div#origin {
    position: relative;
    z-index: 399;
}
.tags-area .btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tags__center {
    text-align: center;
    padding-top: 115px;
}

.tags-area {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding-bottom: 15px;
}

.tags-area .tagbox {
    border: 1px solid #ddd;
  
    padding: 4px;
    background-color: #eee;
    border-radius: 0px;
    overflow-y: auto; 
    max-height: 238px;
    overflow: hidden;
}


.tags-area .tagbox label {
    margin-bottom: 0px;
    display: block;
    background-color: #fff;
    padding: 2px 10px;
    border-radius: 2px;
    clear: both;
    float: left;
    border: 1px solid #ddd;
}


.tags-area .tagbox label:hover {
    background-color: #ddd;
    box-shadow: 0 4px 1px -2px #777;
    cursor: pointer;
}



#wrapper h4 {
    min-height: 40px;
    line-height: 40px;
}


/*#imgModal:not(.loaded) {
    opacity: 0;
}*/


label[data-checked="1"] {
    background: #337ab7 !important;
    color: #fff;
}

.tags-area .tagbox label .helper {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    z-index: 111;
    top: 0;
}



.tags-area .tagbox label .has-value {
display: none;
}


.selected {
    background: yellow !important;
}


.tagbox select {
    border: 0;
    width: 100%;
    display: flex;
    background-color: transparent;
    outline: none;
    min-height: 184px !important;
    background-color: #ddd;
}


div#preview {
    text-align: center;
}

body .sidebar {
    padding-bottom: 10px;
    height: 100vh;
    overflow: auto;
}


body .main-sidebar,
body .left-side {
    position: fixed;
}

.main-header .logo {
    position: fixed;
    right: 0;
    left: 0;
}



body .modal-body {
    max-height: 80vh;
    overflow: auto;
}





.not-clickable {
    pointer-events: none;
  }
  
   .sub-tag {
    padding-left: 15px;
  }


  .sortable.ui-sortable {
    clear: both;
    float: left;
    width: 100%;
}
  .tags-sortable-area {
      position: relative;
  }

  .tags-sortable-area ul {
    list-style-type: none;
    float: left;
    width: 100%;
    padding: 0;
}

.tags-sortable-area ul li {
    border: 0px solid #ddd;
    margin-bottom: 5px;
}


.btn-deleteTag {
  background-color: #ececec;
  border: none;
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  
  border: 1px solid #aaa;
}



.form-group.legends {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-group.legends label {
    display: inline-block;
    margin-left: 0px;
    background-color: #fff;
    position: relative;
    top: -8px;
    padding: 0px 5px;
}

.btn-deleteTag:hover {
    background: #dad3d3;
} 
.btn-deleteTag .fa-close {
    margin-left: 8px;
    color: #b90606;
}


.print-bill-to {
    margin-top: 0px;
    padding-left: 40px;
}

.print-logo img {
    max-width: 100%;
    max-height: 100px;
    margin-bottom: 30px;
}

.print-logo,
.upper_info {
    min-height: 10px;
    margin-bottom: 10px;
}

.table.table-print thead th {
    background-color: #ddd;
    border: 1px solid #bbb;
}

.table.table-print tbody tr:nth-child(even) td {
    background: #eee;
}

.table.table-print tbody tr td {
    border: 1px solid #ddd;
}




section.content {
    min-height: calc(100vh - 50px );
   /* float: left; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home footer.main-footer {
    margin-top: auto;
}










ul#sortable {
    padding-left: 0;
    list-style: none;
}

ul#sortable li {
    padding: 5px;
    margin: 4px 0;
}


ul#sortable .ui-sortable-helper {
    background-color: #ddd !important;
}
  


ul#sortable .ui-sortable-placeholder {
    border: 1px dashed #605ca8 !important;
    visibility: visible !important;
}
  


ul#sortable .ui-sortable-helper span.ui-icon {
    background-position-y: -80px !important;
    background-position-x: 0px !important;
}





@media print {
    section#form {
        display: none;
    }
    
    .page, 
    .page-break {
        page-break-before:always;
        page-break-inside:avoid;
     }

    .print-only {
        display: block !important;
    }

    body * {
        -webkit-print-color-adjust: exact !important;
    }
}




    .pdf-catalog-page .page {
        width: 100%;
    }

    .pdf-catalog-page .item-gallery__inr span.price {
        color: #d00 !important;
    }
    footer.main-footer {
        clear: both;
    }
    
    .pdf-catalog-page .page {
    padding: 10px;
    border-radius: 20px;
    background-color: #fff !important;
    float: left;
    margin-bottom: 20px;
}
    .pdf-catalog-page .item-gallery__inr span.price i.fa:before {
        color: #d00 !important;
    }
  
    .pdf-catalog-page .item-gallery__img {
        width: 100%;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #aaa;
        height: 140px;
    }

        
    .pdf-catalog-page .item-gallery__cont {
        width: 100%;
    }

    .pdf-catalog-page .item-gallery__inr span.name {font-size: 13px; color: #fff !important; }

    .pdf-catalog-page .item-gallery__inr {
        border: 1px solid  #aaa;
        border-radius: 10px;
        background: #fff !important;
        margin: 10px 0;
    }

    .pdf-catalog-page .item-gallery__img>a {
        height: 100%;
    }
    .pdf-catalog-page .item-gallery__cont {
        background: #555299 !important;
    }

    .pdf-catalog-page .item-gallery__img>a>img {
        height: 100%;
    }
    
    .pdf-catalog-page .item-gallery__inr span.price {
        display: none;
    }
    
    .pdf-catalog-page .tag {
        background: white !important;
        color: #000 !important;
        top: 4px;
        left: 4px;
        right: auto;
        font-weight: bold !important;
    }

    .pdf-catalog-page  .price-top {
        background: #555299 !important;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
        padding: 5px 20px;
        border-radius: 51px;
        color: #fff !important;
    }


    
    
    .pdf-catalog-page .item-gallery__img>img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }

    
.pdf-catalog-page .item-gallery__cont {
    padding: 0 4px;
}


    .pdf-catalog-page [data-pagesize="letter"] .page {
        
        width: 760px !important;
        height: 994px !important;
        margin: 30px;
    }

    .pdf-catalog-page .item-gallery__img {
        height: 80%;
    }
    .pdf-catalog-page .item-gallery__cont {
        height: 20%;
    }


    .pdf-catalog-page [data-cols="2"] .item-gallery {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
        float: left;
    }


    .pdf-catalog-page [data-cols="3"] .item-gallery {
        width: 31.3333333%;
        margin-left: 1%;
        margin-right: 1%;
        float: left;
    }


    .pdf-catalog-page [data-cols="4"] .item-gallery {
        width: 23%;
        margin-left: 1%;
        margin-right: 1%;
        float: left;
    }


    .pdf-catalog-page [data-cols="5"] .item-gallery {
        width: 18%;
        margin-left: 1%;
        margin-right: 1%;
        float: left;
    }

    .pdf-catalog-page [data-cols="6"] .item-gallery {
        width: 14.6666666666%;
        margin-left: 1%;
        margin-right: 1%;
        float: left;
    }


            .pdf-catalog-page [data-cols="6"] .price-top {
                font-size: 11px;
                width: auto;
                padding: 2px;
                border-radius: 4px;
            }
            
            .pdf-catalog-page [data-cols="6"] .tag {
                left: 0;
                font-size: 10px;
                top: 7px;
            }


            .pdf-catalog-page .item-gallery__inr span.name {
                margin-top: 4px;
                font-weight: 700;
            }


            .pdf-catalog-page [data-cols="6"] .item-gallery__inr span.name {margin-top: 3px;line-height: 9px;font-size: 8px;font-weight: 700;}
            .pdf-catalog-page [data-cols="5"] .item-gallery__inr span.name {
                font-size: 8px;
                margin-top: 4px;
                font-weight: 700;
                line-height: 10px;
            }
            
            
            .pdf-catalog-page [data-cols="4"] .item-gallery__inr span.name {
                font-size: 12px;
                line-height: 14px;
            }

            .pdf-catalog-page [data-cols="3"] .item-gallery__inr span.name {
                font-size: 14px;
                line-height: 14px;
            }

            .pdf-catalog-page [data-cols="2"] .item-gallery__inr span.name {
                font-size: 22px;
                line-height: 22px;
            }

            .pdf-catalog-page [data-cols="1"] .item-gallery__inr span.name {
                font-size: 42px;
                margin-top: 12px;
                line-height: 42px;
                height:auto;
            }


            .pdf-catalog-page .price-top {
                min-width: 39%;
                padding: 3%;
                border-radius: 10%;
                white-space: nowrap;
                text-align: center;
            }



    .pdf-catalog-page [data-rows="1"] .item-gallery__inr {
        height: 954px;
        margin-bottom: 30px;
    }


    .pdf-catalog-page [data-rows="2"] .item-gallery__inr {
        height: 468px;
        margin: 10px 0 !important;
    }

    .pdf-catalog-page [data-rows="3"] .item-gallery__inr {
        height: 304px;
        margin: 10px 0 !important;
    }


    .pdf-catalog-page [data-rows="4"] .item-gallery__inr {
        height: 224px;
        margin: 10px 0 !important;
    }


    .pdf-catalog-page [data-rows="5"] .item-gallery__inr {
        height: 175px;
    }
    
    .pdf-catalog-page [data-rows="6"] .item-gallery__inr {
        height: 148px;
        margin: 0 !important;
    }

    .pdf-catalog-page [data-rows] .item-gallery__inr {
        margin: 10px 0px;
    }

    .pdf-catalog-page [data-pagesize="letter"][data-cols="6"][data-rows="6"] .item-gallery {
        width: 14.66666666667%;
        float: left;
        margin: 1%;
    }


    
.ui-menu.ui-autocomplete {
    z-index: 9999999999999 !important;
}

#modal_bundle1 div#item_body1_wrapper>.row {
    margin: 0;
}

#modal_bundle1 div#item_body1_wrapper>.row>div {
    padding: 0;
}
 

#modal_bundle1 #form1 .col-xs-12.table-responsive {
    padding: 0;
}


#modal_bundle1 #form1 .box.box-primary {
    margin: 0;
}



#modal_bundle1 .modal-footer>.form-group {
    float: left;
    width: 100%;
}

#modal_bundle1 .modal-footer>.form-group>div.col-sm-5 {padding: 0;}


select#template_id,
select#customer_id {
    line-height: 60px;
    min-height: 52px;
    height: auto  !important;
    padding: 4px;
}

.box__action { padding-left: 0px; display: flex; }
.box__action>button {
    height: 52px; margin: 0 2px;
    width: 52px;
}

.p0 {
    padding: 0 !important;
}


#template_idHolder .select2-selection {
    height: 50px !important;
}

#template_idHolder .select2 .select2-container .select2-selection--single {
    height: 52px !important
}

#template_idHolder .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 52px !important
}


#template_idHolder span#select2-template_id-container {
    height: 52px !important;
    line-height: 44px;
}

