.login-form h3 {
	margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.login-form.fom {
    background: #f0f0f0;
}

section.login-section {
    background: #fff;
}

.forgot-pswd {
    text-align: center;
}

/* Cart css */

section.table-cart .table thead tr th {
    text-align: center;
}






section.table-cart .table td.pdt-cart--style {
	display: inline-table;
    height: 40px;
    width: 40px;
}

/* checkout css*/

.alert {
    padding: 20px;
    display: block;
    border-top: 3px solid #19b9b9;
    background: #f8f8f8;
    margin-bottom: 10px;
}


.check-payment--box::before {
    content: "";
    height: 28px;
    width: 18px;
    border-top: 15px solid #18b8b8;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    display: block;
    position: absolute;
    transform: rotate(60deg);
  }
.check-payment--box p {
    background: #18b8b8;
    padding: 10px;
	color:#fff;
}













